*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  background-image: url('./assets/agribg4.jpg');
  /* background-color: #211b1b; */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #000000;
  margin: 80px 0px 0px 0px;
  padding: 0px;
}

.page-container {
  padding: 50px 20px 0px 20px; 
}

.card {
  background: rgba(255, 255, 255, 0.422);
  backdrop-filter: blur(4px);
  align-items: center;
  padding: 15px 40px;
  box-shadow: 0 4px 8px rgb(70, 69, 69);
  border-radius: 15px;
  margin: 90px 10px 10px 10px;
  justify-content: space-between;
}